<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf8"/>
        <title>WildWise</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"/>
    </header>
    <body>
        <div>
            <header>
                <h1>WildWise</h1>
                <h2>Animais</h2>
            </header>

            <div>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                    </tr>
                </table>
            </div>

            <footer>
                <h5>Gerado por RPCW2024 em {{data.data}}</h5>
            </footer>
        </div>
    </body>
</html>