<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf8"/>
        <title>WildWise</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"/>
    </header>
    <body>
        <header>
            <h1>WildWise:</h1>
            <h2>Aumentar a Ontologia</h2>
        </header>

        <form action="" method="post">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required><br><br>
            
            <label for="height">Altura:</label>
            <input type="text" id="height" name="height"><br><br>
            
            <label for="width">Comprimento:</label>
            <input type="text" id="width" name="width"><br><br>

            <label for="weight">Peso:</label>
            <input type="text" id="weight" name="weight"><br><br>

            <label for="population">População:</label>
            <input type="text" id="population" name="population"><br><br>
            
            <input type="submit" value="Submit">
        </form>
        
        <footer>
            <h5>Gerado por RPCW2024 em {{data.data}}</h5>
        </footer>
        
    </body>
</html>