<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf8"/>
        <title>WildWise</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"/>
    </header>
    <body>
        <header>
            <h1>WildWise</h1>
            <h2>Aumentar a Ontologia</h2>
        </header>

        <form action="" method="post">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required><br><br>
            
            <input type="submit" value="Submit">
        </form>
        
        <footer>
            <h5>Gerado por RPCW2024 em {{data.data}}</h5>
        </footer>
        
    </body>
</html>