<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf8"/>
        <title>WildWise</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Junge">

        <style>
            .w3-theme-c1 {color:#fff !important;background-color:#496528 !important}
            .w3-theme-c2 {color:#fff !important;background-color:#64942D !important}
            .w3-theme-c3 {color:#fff !important;background-color:#2e3522 !important}

            body, h1, h2, h3, h4, h5, h6 {
            font-family: Junge;
}
        </style>
    </header>
    <body class="w3-theme-c3">
        <div class="w3-card-4">
            <header class="w3-display-container w3-theme-c1 w3-padding">
                <h1 class="w3-margin-left">
                    <a href="/" style="text-decoration: none;">
                        <img src="../static/favicon.png" style="width:10vh;height:10vh;">
                    </a>
                   <b>WildWise</b>
                </h1>
                    <div class="w3-display-right w3-margin-right">
                        <a href="/" class="w3-white w3-button w3-round-xlarge w3-hover-shadow">
                            Início
                        </a>
                    </div>
                </div>
            </header>
            
            <div class="w3-container w3-theme-c3 w3 w3-padding">
                <h2>Quer contribuir com o WildWise?</h2>
                <h3>Preencha o formulário com os dados do Animal</h3>
                
                <form action="" method="post" class="w3-third">
                    <label for="name">Nome:</label>
                    <input class="w3-input w3-border w3-round" type="text" id="name" name="name" required><br><br>
                
                    <label for="sciname">Nome Cientifico:</label>
                    <input class="w3-input w3-border w3-round" type="text" id="sciname" name="sciname"><br><br>
                
                    <label for="kingdom">Reino:</label>
                    <input class="w3-input w3-border w3-round" type="text" id="kingdom" name="kingdom"><br><br>
                
                    <label for="family">Familia:</label>
                    <input class="w3-input w3-border w3-round" type="text" id="family" name="family"><br><br>
                
                    <label for="order">Ordem:</label>
                    <input class="w3-input w3-border w3-round" type="text" id="order" name="order"><br><br>
                
                    <label for="phylum">Filo:</label>
                    <input class="w3-input w3-border w3-round" type="text" id="phylum" name="phylum"><br><br>
                
                    <label for="classe">Classe:</label>
                    <input class="w3-input w3-border w3-round" type="text" id="classe" name="classe"><br><br>
                
                    <label for="genus">Genero:</label>
                    <input class="w3-input w3-border w3-round" type="text" id="genus" name="genus"><br><br>

                    <input class="w3-white w3-button w3-round-xlarge w3-hover-shadow" type="submit" value="Submeter">
                </form>
            </div>
            
            <footer class="w3-container">
                <h5>Gerado por RPCW2024 em {{data.data}}</h5>
            </footer>
        </div>
    </body>
</html>